[submodule "Advent-of-Code-2015"]
	path = Advent-of-Code-2015
	url = https://github.com/ErwinOlie/Advent-of-Code-2015
[submodule "Project-Euler"]
	path = Project-Euler
	url = https://github.com/ErwinOlie/Project-Euler
